<div class="footer">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/muhammed-slh-yldz/" target="_blank" type="button" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/msalihyldz" target="_blank" type="button" data-toggle="tooltip" data-placement="top" title="Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="mailto:muhammedsalihyildiz18@gmail.com" type="button" data-toggle="tooltip" data-placement="top" title="Mail">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
