/* You can add global styles to this file, and also import other style files */

$blue1: #5680e9;
$blue2: #84ceeb;
$blue3: #5ab9ea;
$grey1: #c1c8e4;
$purple1: #8860d0;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
